Package: com.jinken.orientflow
Name: OrientFlow
Description: Smart rotate suggestion popup when orientation lock is enabled. Smooth, lightweight, zero lag.
Maintainer: Jin Ken Nguyen <jinkennguyen@users.noreply.github.com>
Author: Jin Ken Nguyen
Section: Tweaks
Depends: firmware (>= 13.0), mobilesubstrate (>= 0.9.5000) | org.coolstar.libhooker | science.xnu.substitute | ellekit, preferenceloader
Icon: file:///Library/PreferenceBundles/OrientFlowPrefs.bundle/icon@2x.png
Homepage: https://github.com/tientrieu19892025/OrientFlow
Tag: compatible_min::ios13.0 compatible_max::ios26.9 purpose::extension role::enduser
Dev: Jin Ken Nguyen
Sponsor: https://ko-fi.com/jinkennguyen
Architecture: iphoneos-arm64e
Version: 1.0.2
Installed-Size: 448
