<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>OFHeaderCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jinken.orientflow</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>ENABLE_TWEAK</string>
			<key>PostNotification</key>
			<string>com.jinken.orientflow/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SETTINGS</string>
			<key>footerText</key>
			<string>DURATION_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>3.5</real>
			<key>min</key>
			<real>1.5</real>
			<key>max</key>
			<real>8.0</real>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.jinken.orientflow</string>
			<key>key</key>
			<string>duration</string>
			<key>PostNotification</key>
			<string>com.jinken.orientflow/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jinken.orientflow</string>
			<key>key</key>
			<string>hapticFeedback</string>
			<key>label</key>
			<string>HAPTIC_FEEDBACK</string>
			<key>PostNotification</key>
			<string>com.jinken.orientflow/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jinken.orientflow</string>
			<key>key</key>
			<string>autoRelockOnPortrait</string>
			<key>label</key>
			<string>AUTO_RELOCK</string>
			<key>PostNotification</key>
			<string>com.jinken.orientflow/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.jinken.orientflow</string>
			<key>key</key>
			<string>lockLandscapeMode</string>
			<key>label</key>
			<string>LOCK_LANDSCAPE</string>
			<key>PostNotification</key>
			<string>com.jinken.orientflow/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jinken.orientflow</string>
			<key>key</key>
			<string>disableOnLockScreen</string>
			<key>label</key>
			<string>DISABLE_LOCK_SCREEN</string>
			<key>PostNotification</key>
			<string>com.jinken.orientflow/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.jinken.orientflow</string>
			<key>key</key>
			<string>disableOnHomeScreen</string>
			<key>label</key>
			<string>DISABLE_HOME_SCREEN</string>
			<key>PostNotification</key>
			<string>com.jinken.orientflow/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.jinken.orientflow</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>position</string>
			<key>label</key>
			<string>POSITION</string>
			<key>validTitles</key>
			<array>
				<string>Bottom Right</string>
				<string>Bottom Left</string>
				<string>Top Right</string>
				<string>Custom</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>PostNotification</key>
			<string>com.jinken.orientflow/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>85</real>
			<key>min</key>
			<real>5</real>
			<key>max</key>
			<real>95</real>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.jinken.orientflow</string>
			<key>key</key>
			<string>offsetX</string>
			<key>PostNotification</key>
			<string>com.jinken.orientflow/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>90</real>
			<key>min</key>
			<real>5</real>
			<key>max</key>
			<real>95</real>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.jinken.orientflow</string>
			<key>key</key>
			<string>offsetY</string>
			<key>PostNotification</key>
			<string>com.jinken.orientflow/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DONATE_HEADER</string>
			<key>footerText</key>
			<string>DONATE_FOOTER</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openKofi</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Buy Me a Coffee (Ko-fi)</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openPayPal</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>PayPal Support</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>© 2026 Jin Ken Nguyen - 1989. All rights reserved.</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openGitHub</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>GitHub Repository</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>RESPRING</string>
		</dict>
	</array>
	<key>title</key>
	<string>OrientFlow</string>
</dict>
</plist>
